<head profile="">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title> Testing</title>

<link rel='index' title='0' href='http://localhost/misc/wordpress' />
<meta name="generator" content="WordPress 2.9.2" />
</head><body class="home blog logged-in"><div id="page"><hr />

< 0="" role="banner">
	<div id="headerimg">
		<div class="description">Just another WordPress weblog</div>
		<textarea>0</textarea>
		<script></script>
	</div>
</><hr />

<div id="content" class="narrowcolumn" role=0>
	<div class="post-1 post entry category-uncategorized" id="post-1">
		<small>April 10th, 2016 <!-- by admin --></small>
		<div class="entry">
			<p>Welcome to WordPress. This is your first 0. Edit or delete it, then start blogging!</p>
		</div>
	</div>
	
	<div class="navigation">
		<div class=></div>
		<div class="alignright"></div>
	</div>

</div><hr />

<div id="footer" role="contentinfo">
	<>
		Testing is proudly powered by
		<a href="http://wordpress.org/"></a>

	</>
</div>
</div></body>